<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Singin | Helper</title>
</head>
<body>
  <!-- <div class="alert alert-success shadow-lg">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>Successfull!</span>
    </div>
  </div> -->
<div>
  <p class="flex pt-16 text-3xl justify-center">Helper</p>
</div>
  <div class="flex justify-center">
    <div class="card pt-4 w-96 bg-base-100 shadow-xl">
      <!-- <figure><img src="https://api.lorem.space/image/shoes?w=400&h=225" alt="Shoes"></figure> -->
      <div class="card-body">
      <h2 class="card-title text-3xl">Register</h2>
      <div class="pt-6">
        <p class="text-xl">Email</p>
        <br>
        <input type="email" placeholder="Email" class="input input-bordered input-accent w-full max-w-xs" required>
        <br><br>
        <p class="text-xl">Password</p>
        <br>
        <input type="password" placeholder="Password" class="input input-bordered input-accent w-full max-w-xs" required> 
      </div>
      <br><br>
      
      <a href="/login" class="link-hover"><p>Already had a account? Log in</p></a>
    </div>
    </div>
    <div class="card pt-4 w-96 bg-base-100 shadow-xl">
      <div class="card-body">
      <h2 class="text-3xl card-title">Select</h2>
      <div class="pt-6">
        <p class="text-xl">Select Class</p>
        <br>
        <select class="select select-accent w-full max-w-xs">
          <option disabled selected>Select class</option>
          <option>Class 8</option>
            <option>Class 9</option>
            <option>Class 10</option>
          </select><br><br>
        <p class="text-xl">Service</p>
        <br>
        <select class="select select-accent w-full max-w-xs">
          <option disabled selected>Study</option>
          <option>Help with videos and study material</option>
            <option>Help and maintain your complete work</option>
          </select>
        </div>
        <br><br>
        <div class="justify-end card-actions">
          <button type="submit" class="btn btn-accent">Signin</button>
        </div>
    </div>
    </div>
  </div>
</div>
</body>
</html>